%h1 Student Sign Up
%form{:method => 'post', :action => url_for(:students, :create)}
  %label{:for => 'name'} Name
  %input{:name => 'student[name]', :id => 'name', :type => 'text', :placeholder => 'John Doe'}

  %label{:for => 'email'} E-mail
  %input{:name => 'student[email]', :id => 'email', :type => 'email', :placeholder => 'john.doe@example.com'}

  %label{:for => 'password'} Password
  %input{:name => 'student[password]', :id => 'password', :type => 'password', :placeholder => 'password'}

  %label{:for => 'confirm'} Confirm
  %input{:name => 'confirm', :id => 'confirm', :type => 'password', :placeholder => 'password'}
  %button{:type => 'submit'} Create Account
